@model IEnumerable<SystemZglaszaniaAwariiGlowny.Models.Maszyna>

@{
    ViewData["Title"] = "Spis maszyn";
}

<h1 id="naglowekmaszyna" class="text-primary roboto col-md-12 col-xl-3">Spis maszyn</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-light col-md-12 col-xl-3 col-sm-12 col-12" id="maszynabtn">Dodaj nową maszynę</a>
    
</p>
<table class="table col-sm-12" id="maszyny">
    <thead>
        <tr>
            <th>
               Nazwa maszyny:
            </th>
            <th>
               Opis maszyny:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Graphic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaszynaName)
            </td>
            <td>
                    @if (item.MaszynaOpis.Length <= 75)
                    {
                        @Html.DisplayFor(modelItem => item.MaszynaOpis)
                    }
                    else
                    {
                        @(item.MaszynaOpis.Substring(0, 75) + "...")
                    }
               
            </td>
             <td>
                <img src="@Url.Content(item.Graphic == null ? "~/css/grafika/maszyny/brak.jpg" :"~/css/grafika/maszyny/"+item.Graphic)" width="150" height="100" alt="@item.MaszynaName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.MaszynaId" class="btn btn-outline-primary my-1" title="Edycja"><i class="bi bi-file-plus" aria-label="Edycja maszyny"></i></a>
                    <a asp-action="Details" asp-route-id="@item.MaszynaId" class="btn btn-outline-secondary my-1" title="Szczegóły"><i class="bi bi-search" aria-label="Szczegóły maszyny"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.MaszynaId" class="btn btn-outline-danger my-1" title="Usuwanie"><i class="bi bi-trash3" aria-label="Usuwanie maszyny"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#maszyny').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "Brak danych do wyświetlenia",
                    "info": " Pozycje od _START_ do _END_ z _TOTAL_ rekordów",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie z _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "thousands": " ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "loadingRecords": "Ładowanie...",
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:",
                    "zeroRecords": "Nie znaleziono danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                    "aria": {
                        "sortAscending": ": sortuje kolumnę rosnąco",
                        "sortDescending": ": sortuje kolumnę malejąco"
                    }
                }
            });
        });
    </script>
}
