@model MGViewModel
@{
    ViewData["Title"] = "Lista Magazynow";
}

<div class="container" id="magazyny">
    <div class="row">


        <!-- Wyszukiwarka -->
        <div class="d-none d-md-block col-md-12 col-xl-3">
            <div class="card mt-2 shadow-sm ">
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Magazyns", new { PageNumber = "1" }, FormMethod.Get))
                    {
                            <div class="row gt-3">
                                <div class="form-group col-auto">
                                <label for="NazwaMagazynu">Nazwa magazynu:</label>
                                <input type="text" class="form-control" id="NazwaMagazynu" name="NazwaMagazynu" 
                            placeholder="Szukany ciąg" value="@Model.MMView?.NazwaMagazynu">
                            </div>
                            <div class="form-group col-auto">
                                <label for="Fraza">Fragment tekstu:</label>
                                <input type="text" class="form-control" id="Fraza" name="Fraza" 
                                   placeholder="Szukany ciąg" value="@Model.MMView?.Fraza">
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 col-auto">Filtruj</button>

                           </div>
                   }
                </div>
            </div>
        </div>
        <!-- Lista tekstów -->
            <div class="col-xl-9">
                 @if (Model.MMView.MMCount > 0)
            {
                @foreach (var item in Model.Magazyns)
                {


                    <div class="card mt-2">
                        <div class="card-header">
                            <h4 class="text-primary oswald">@item.MagazynName</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <img src="@Url.Content(item.Graphic == null ?"~/grafika/magazyny/"+item.MagazynId+".jpg" : "~/grafika/magazyny/"+item.Graphic)" class="img-fluid" alt="@item.MagazynName" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text fst-italic">@item.MagazynOpis</p>
                                    <div class="position-relative">
                                        <a href="@Url.Action("Details","Magazyns", new{id = item.MagazynId})" class="btn btn-outline-primary position-absolute bottom-0 end-0">Sprawdź szczegóły</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }

                
            }
            else
            {
                <div class="alert alert-info d-flex align-items-center mt-2" role="alert">
                    <i class="bi bi-info-circle-fill me-3"></i>Brak magazynów do wyświetlenia. Zmień parametry filtrowania lub poszukiwany ciąg.
                </div>
            }
    </div>

        <div class="row mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @{
                    if (Model.MMView.PageNumber > 1)
                    {
                        <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "Magazyns",new{PageNumber=Model.MMView.PageNumber -1,NazwaMagazynu = Model.MMView.NazwaMagazynu, Fraza = Model.MMView.Fraza})">Poprzednia</a>
                        </li>
                       
                        }

                    for (var i = 1; i <= Model.MMView.PageCount; i++)
                    {
                            <li class="@(i == Model.MMView.PageNumber ? "page-item active": "page-active")"><a class="page-link" href="@Url.Action("Index", "Magazyns", new{PageNumber = i,NazwaMagazynu = Model.MMView.NazwaMagazynu, Fraza = Model.MMView.Fraza})">@i</a></li>
                    }


               
                 
                if(Model.MMView.PageNumber < Model.MMView.PageCount)
                {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Magazyns",new{PageNumber=Model.MMView.PageNumber +1, NazwaMagazynu = Model.MMView.NazwaMagazynu, Fraza = Model.MMView.Fraza})">Następna</a></li>
                }
                }
            </ul>
        </nav>
        <div>
</div>

      


