@model IEnumerable<SystemZglaszaniaAwariiGlowny.Models.Magazyn>

@{
    ViewData["Title"] = "Spis Magazynów";
}


<h1 id="naglowekmaszyna" class="text-primary roboto col-md-12 col-xl-3">Spis magazynów</h1>


<p>
    <a asp-action="Create" class="btn btn-outline-light col-md-12 col-xl-3 col-sm-12 col-12" id="maszynabtn">Dodaj nowy Magazyn</a>
</p>
<table class="table" id="magazyny">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MagazynName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagazynOpis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Graphic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th>
                Autor:
            </th>
            <th width="12%"></th>
        
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MagazynName)
            </td>
            <td>
                    @if (item.MagazynOpis.Length <= 75)
                    {
                        @Html.DisplayFor(modelItem => item.MagazynOpis)
                    }
                    else
                    {
                        @(item.MagazynOpis.Substring(0, 75) + "...")
                    }
            </td>
            <td>
               <img src="@Url.Content(item.Graphic == null ? "~/grafika/magazyny/brak.jpg" :"~/grafika/magazyny/"+item.Graphic)" width="150" height="100" alt="@item.MagazynName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                   <a asp-action="Details" asp-route-id="@item.MagazynId" class="btn btn-outline-secondary my-1" title="Szczegóły"><i class="bi bi-search" aria-label="Szczegóły maszyny"></i></a>
                @{
                    if(User.IsInRole("admin"))
                    {
                            <a asp-action="Edit" asp-route-id="@item.MagazynId" class="btn btn-outline-primary my-1" title="Edycja"><i class="bi bi-file-plus" aria-label="Edycja maszyny"></i></a>
                   
                            <a asp-action="Delete" asp-route-id="@item.MagazynId" class="btn btn-outline-danger my-1" title="Usuwanie"><i class="bi bi-trash3" aria-label="Usuwanie maszyny"></i></a>
    
                    }
                }      
                
               
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" class="btn btn-outline-light" id="maszynabtn">Przejdz do widoku Użytkownika</a>


@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#magazyny').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "Brak danych do wyświetlenia",
                    "info": " Pozycje od _START_ do _END_ z _TOTAL_ rekordów",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie z _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "thousands": " ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "loadingRecords": "Ładowanie...",
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:",
                    "zeroRecords": "Nie znaleziono danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                    "aria": {
                        "sortAscending": ": sortuje kolumnę rosnąco",
                        "sortDescending": ": sortuje kolumnę malejąco"
                    }
                }
            });
        });
    </script>
}
